h1 {
	text-align:center; 
	padding-top:20px; 
	font-size:72px; 
	background:#ebebeb; 
	border-bottom:1px solid #dbdbdb;
}
.center { text-align:center; }
.left { text-align:left; }

.generate { text-align:right; }
.generate p { text-align:justify; }

