/* -------------------------------------------------------------- 
   
   Stencil forms.css
   * Sets up default form styling.
  
-------------------------------------------------------------- */


.stn-form { width: 100%; padding: 5px; margin: 0 auto; }


.stn-form fieldset
{
	border: none;
	padding-top: 30px;;
	padding-bottom: 1.5em;
	margin-bottom: 2em;
	position: relative;
	
}

.stn-form legend 
{ 
	background: transparent;
	font-size: 16px;
	font-weight: bold; 
	font-style: italic;
	padding: 0 10px .5em; 
	display: block;
	margin-bottom: 0;
	border-bottom: 3px solid #EEE;
	width: 100%;
}

.stn-form legend { margin-bottom: 2.25em; }

@-moz-document url-prefix() { .stn-form legend { margin-bottom: 0 !important; } } 


legend span
{
	font-family: georgia;
	font-size: 30px;
	padding-right: .5em;
}





.stn-form label
{ 
	margin-right: 10px; 
	padding-right: 10px; 
	line-height: 2.75em;
	padding-bottom: .5em;
	width: 125px; 
	display: block; 
	float: left;  
	font-weight: bold; 
	text-align: right; 
	position: relative; 
}

	.stn-form label em.required { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }

.stn-form .field input:focus,
.stn-form .field textarea:focus,
.stn-form .field select:focus { outline: none; border-color: #86C1D2; 	-moz-box-shadow: 1px 1px 10px #9CCCDA; -webkit-box-shadow: 1px 1px 10px #9CCCDA; }

.stn-form .field.error input,
.stn-form .field.error textarea,
.stn-form .field.error select { border-color: #c00 !important; -moz-box-shadow: 0px 0px 5px #F00 !important; -webkit-box-shadow: 0px 0px 5px #F00 !important; }

	.error > .errorText { display: block; }

	.errorText { display: none; font-size: 11px; color: #C00; margin-left: 150px; margin-top: .25em; }

.stn-form .field { margin-bottom: 2em; position: relative; }

	.stn-form .field input, .stn-form .field select, .stn-form .field textarea
	{
		padding: 6px;
		border: 1px solid #BBB;
		-moz-border-radius: 3px;	
		-webkit-border-radius: 3px;
		-moz-box-shadow: 1px 1px 3px rgba(0,0,0, 0.2);
	}
    
    .stn-form .field textarea { vertical-align: top; }

.stn-form .controlset .controlset-fields { margin-left: 150px; }

	.stn-form .controlset .controlset-fields label
	{ 
		font-size: 11px;
		font-weight: normal;
		display: inline;
		width: auto;
		padding-left: 5px;
		float: none;
		text-shadow: none;
	}

	.stn-form .controlset .controlset-fields input { display: inline !important; float: none !important; border: none !important; }


.stn-form.label-top label { width: 100%; text-align: left; display: block; }
	.stn-form.label-top .field { margin-bottom: 1.5em;}
	.stn-form.label-top label em { position: relative; }
	.stn-form.label-top .controlset-fields { margin-left: 0;}
	.stn-form.label-top .actionrow { margin-left: 0; }
	.stn-form.label-top .help { padding-left: 0; margin-left: 0; }
	.stn-form.label-top .errorText { margin-left: 0; }
	.stn-form.label-top legend { padding: 0; }

.stn-form .actionrow { margin-left: 150px; }



.stn-form a.help{
	background: url(../img/help.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	display: inline-block;
	font-size: 0;
    position:relative;
    z-index:24;
    color:#000;
    left: 8px;
    top: 2px;
    text-decoration:none;
    outline: none;
}

.stn-form a.help:hover{z-index:25;}

.stn-form a.help span{display: none}

.stn-form a.help:hover span
{
    display:block;
    font-size: 11px;
    position:absolute;
    top:-6px; 
    left:1.5em; 
    width:17em;
    border:1px solid #DDD;
    padding: 3px 7px;
    background-color:#F1F1F1; color:#000;
    text-align: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,.25);
}
